name: Documentation
on:
  push:
    branches:
      - 'main'
      - 'stable'
    tags:
      - '**'
jobs:
  build:
    name: Build documentation
    runs-on: ubuntu-latest
    if: github.repository_owner == 'twitterjs'
    outputs:
      BRANCH_NAME: ${{ steps.env.outputs.BRANCH_NAME }}
      BRANCH_OR_TAG: ${{ steps.env.outputs.BRANCH_OR_TAG }}
      SHA: ${{ steps.env.outputs.SHA }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install node.js v16
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Build docs
        run: npm run doc

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: docs
          path: docs/docs.json

      - name: Set outputs for upload job
        id: env
        run: |
          echo "::set-output name=BRANCH_NAME::${GITHUB_REF_NAME}"
          echo "::set-output name=BRANCH_OR_TAG::${GITHUB_REF_TYPE}"
          echo "::set-output name=SHA::${GITHUB_SHA}"
  upload:
    name: Upload documentation
    needs: build
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: ${{ needs.build.outputs.BRANCH_NAME }}
      BRANCH_OR_TAG: ${{ needs.build.outputs.BRANCH_OR_TAG }}
      SHA: ${{ needs.build.outputs.SHA }}
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: docs
          path: docs

      - name: Checkout docs repository
        uses: actions/checkout@v3
        with:
          repository: 'twitterjs/docs'
          token: ${{ secrets.TJS_DOCS }}
          path: 'out'

      - name: Move docs to correct directory
        run: |
          mkdir -p out/twitter.js
          mv docs/docs.json out/twitter.js/${BRANCH_NAME}.json

      - name: Commit and push
        run: |
          cd out
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Docs build for ${BRANCH_OR_TAG} ${BRANCH_NAME}: ${SHA}" || true
          git push
